@page "/exchangerates"

@inject IExchangeRates _exchangeRates

<h1>Rates from NBP API</h1>

@if (string.IsNullOrWhiteSpace(errorString) == false)
{
    <div class="h2">@errorString</div>
}
else if (currency is null)
{
    <div class="h4">Loading...</div>
}
else
{
    <table class="table table-striped">
        <thead class="accordion-body">
            <tr>
                <th>Table</th>
                <th>Effective Date</th>
                <th>Course</th>
            </tr>
        </thead>
        <tbody>
                @foreach (var r in currency.rates)
                {
                    <tr>
                        <td>@r.no</td>
                        <td>@r.effectiveDate</td>
                        <td>@r.mid</td>
                    </tr>
                }
            </tbody>
    </table>
}
@code
{
    Currency? currency;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        currency = await _exchangeRates.Retrive("100");
    }
}
