@page "/freebook"
@inject IFreeBookMapService _freeBookService

@using OutsideApi.Domain
@using OutsideApi.Infostructure.ConnectedServices

<h3>Free Book Data</h3>

<table class="table table-dark">
    <thead class="thead-dark">
        <tr>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var b in freeBook.Property1)
        {
            <tr>
                <td>@b.name</td>
                <td>@b.slug</td>
            </tr>
        }
    </tbody>
</table>

@code {
    FreeBookMap freeBook;
    string errorString;

    protected override async Task OnInitializedAsync()
    {
        freeBook = await _freeBookService.Retrive();
    }
}